name: ⚡ Update mahflow
on:
  schedule:
    - cron: "* * * * *"
  workflow_dispatch:
jobs:
  build:
    name: Update this repo's README with recent activity
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v2
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: "⚡ Update mahflow"
          MAX_LINES: 10
          COMMIT_NAME: "Kakarotto-bot"
          COMMIT_EMAIL: 179298795+Kakarotto-bot@users.noreply.github.com
